@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(28, 44, 60);
  scroll-behavior: smooth;
}

p {
  font-family: "Poppins", sans-serif;
  color: rgb(253, 255, 243);
  margin-left: 10px;
}

img {
  margin: 1rem auto;
  margin-left: 35%;
}