@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  margin: 0 auto;
  background-color: rgb(28, 44, 60);
  scroll-behavior: smooth;
}

.judul {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: rgb(253, 255, 243);
}

.section-judul {
  color: rgb(253, 255, 243);
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.section-contoh a {
  color: rgb(253, 255, 243);
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.ol {
  list-style: none;
  counter-reset: li;
}

li::before {
  content: counter(li);
  color: rgb(253, 255, 243);
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}

li {
  counter-increment: li;
}



