@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(28, 44, 60);
  scroll-behavior: smooth;
}

h1 {
  color: rgb(253, 255, 243);
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 0.2rem;
}

h2 {
  color: rgb(165, 255, 210);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

p {
  color: rgb(253, 255, 243);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 0.2rem;
}

div {
  border-style: solid;
  border-color: rgb(253, 255, 243);
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}